<header>Welcome to GamingStore</header>
<ul class="nav">
  <li class="nav-item" style = "margin-top: 5px;">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item" style = "margin-top: 5px;">
    <a class="nav-link" href="/product-main">Items</a>
  </li>
  <div class = "search-button">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <!-- The Search component need more code to can work, but i don't have much time to
        Optimized or completed the best way possible-->
        <form class="d-flex" method = "GET">
          <input class="form-control me-2" type="text" placeholder = "Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</ul>