<app-header></app-header>
<div class="container mr-4">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="insert Card"> Credit or Debit Card</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for = "insert Card"> Reverse Card</label>
                <input type="number" class="form-control">
                <small id = "credit Card" class = "form-text text-muted">The three number besides the Card</small>
            </div>
            <button type = "submit" class = "btn btn-primary" routerLink ="/"> Payout </button>
        </form>
    </div>
</div>
